.item div {
    margin: 0px;
    width: 100%;
    height: 40px;
    background-color: rgba(255, 255, 255, 0.5);
    background-blend-mode: lighten;
    background-size: 40px;
}

.itemSpace {
    width: 400px;
    height: 75px;
}

.item {
    width: 400px;
    height: 40px;
}

body {
    font-family: "Google Sans Code";
}

#itemSpace, #item {
    display: none;
}

select {
    width: 300px;
    height: 25px;
    background-color: #e0e0e0;
    color: #323232;
    border: 1px solid #323232;
    font-family: "Google Sans Code";
    font-size: 16px;
    font-weight: bold;
}

option {
    font-family: "Google Sans Code";
    color: #323232;
    border: 1px solid #323232;
    background-color: #f0f0f0;
    font-size: 16px;
}

button {
    width: 200px;
    height: 30px;
    background-color: #f0f0f0;
    color: #323232;
    border: 1px solid #323232;
    font-family: "Google Sans Code";
    font-size: 18px;
    font-weight: bold;
}

#filters {
    margin-bottom: 20px;
}